<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>My website: page_title</title>
    <link rel="stylesheet" href="styles/styles.css">
  </head>
  <body>
    <div id="container">
      <header>
        <h1>main_heading</h1>
      </header>
      <nav>
        <a href="picasso.html">Picasso</a>
        <a href="index.html" class="here">Van Gogh</a>
        <a href="duchamp.html">Duchamp</a>
        <a href="manray.html">Man Ray</a>
        <a href="turner.html">Turner</a>
      </nav>
      <main>
        <h2>painting_title</h2>

        <figure>
          <img src="images/" width="300" height="" alt="">
          <!-- <figcaption>Sunflowers</figcaption> -->
        </figure>

      </main><!-- end of the main tag -->

      <footer></footer>

    </div><!-- end of the container div -->
  </body>
</html>
