body {
  margin: 0;
  padding: 0;
  /* extends the colour of the footer to the page bottom */
  background-color: #e0861e;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  /* replaces the "default blue" with the parent color: */
  color: inherit;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5em;
  background-color: #e0861e;
  font-family: 'Potta One', cursive;
  font-size: 2em;
}
header h1 {
  margin: 0;
  color: #333;
  font-size: 1.5em;
  letter-spacing: 6px;
}
h1 a {
  /* removes the link "default underline" */
  text-decoration: none;
  transition: all .5s;
}
h1 a:hover {
  color: #666;
}

/* Wraps 'nav' (menu), 'main' (content) side-by-side: */
.wrapper {
  display: flex;
}

/* THE MENU */
nav {
  background-color: #bdcdbd;
  width: 25%;
  font-size: 1em;
  /* fills height of links on a single line: */
  line-height: 2.5em;
  box-sizing: border-box;
}
nav a:link,
nav a:visited {
  display: block;
  text-decoration: none;
  padding-left: 5px;
  border-bottom: 1px solid white;
  transition: all 0.5s;
}
nav a:hover {
  background: #eee;
  border-right: 3px solid #999;
}
nav a.here {
  background: #eee;
  border-right: 3px solid #666;
}

/* MAIN CONTENT BOX */
main {
  box-sizing: border-box;
  width: 75%;
  /* set "view height" if there's not much content: */
  min-height: 75vh;
  padding: 1.75em 30px 2em; /* top, right-left, bottom */
  background-color: #fff;
  line-height: 1.85em;
}
main h2 {
  font-size: 1.25em;
  margin: 0;
  border-bottom: 1px solid #666;
}

/* images on the homepage: */
.homepage {
  display: flex;
  flex-wrap: wrap;
  /* note CSS spelling of ‘center’: */
  justify-content: center;
}
.homepage figure {
  width: 120px;
}

/* images on individual artist's pages */
figure {
  float: right;
  border: 1px solid #333;
  padding: 0;
  margin: 12px 0 0 10px;
  border-radius: 12px;
  overflow: hidden;
}
figure img {
  display: block;
  width: 100%;
}
figcaption {
  text-align: center;
  background-color: #eee;
  padding: 2px 6px;
  font-size: .75em;
}

footer {
  clear: both;
  /* top-bottom, right-left */
  padding: 20px 30px;
  background-color: #e0861e;
}


/* THE "BREAKPOINT" ACTIVATES HERE */
@media all and (max-width: 600px) {

  .wrapper {
    flex-direction: column;
  }

  header h1 {
    font-size: .75em;
    letter-spacing: 1px;
  }

  nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    line-height: 1.25em;
  }
  nav a:link,
  nav a:visited {
    padding: 6px;
    text-align: center;
    border: 0;
    border-right: 1px solid white;
  }
  /* removes the right border on the last menu item: */
  nav a:last-child {
    border: 0;
  }

  main {
    width: 100%;
  }

  .homepage figure {
    /* top, right-left, bottom */
    margin: 12px 6px 6px;
  }

  figure {
    float: none;
    /* top, right-left, bottom */
    margin: 12px 0 0;
  }

} /* END OF THE "BREAKPOINT" - */
  /* DO NOT delete this bracket! */

/* ----------------------------------------------------- */

/* UNCOMMENT TO SHOW BOXES */
/* 
.wrapper,
header,
main,
nav,
footer {
  border: 2px solid #f00;
  box-sizing: border-box;
}
 */
