/* GENERAL AND MOBILE SIZE STYLES */

/* Sets olours used throughout the site: */
:root {
  --color1: #e0861e;
  --color2: #9a9;
  --color3: #bdcdbd;
  --color4: #efe;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color1);
  font-family: Arial, Helvetica, sans-serif;
}
a {
  /* replaces the "default blue" links with parent color: */
  color: inherit;
}

header {
  /* flex enables horizontal and vertical centering: */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Potta One', cursive;
}
header h1 {
  margin: 0;
  font-size: 1.5em;
  letter-spacing: 1px;
  padding-bottom: .25em;
}

h1 a {
  /* removes default link underline: */
  text-decoration: none;
}

/* puts 'nav' (menu), 'main' (content) in a column: */
.wrapper {
  display: flex;
  flex-direction: column;
}

/* THE MENU */
nav {
  display: flex;
  flex-direction: row;
  line-height: 1.25em;
  width: 100%;
  background-color: var(--color3);
}

nav a:link,
nav a:visited {
  padding: 6px 4px;
  text-align: center;
  border-right: 1px solid var(--color4);
  text-decoration: none;
}
/* removes the right border on the last menu item: */
nav a:last-child {
  border: 0;
}
/* highlights current page in menu: */
nav a.here {
  background: var(--color4);
}


/* MAIN CONTENT BOX - FILLS MOBILE WIDTH */
main {
  /* sets padding: top, right+left, bottom: */
  padding: 1.75em 30px 2em;
  background-color: var(--color4);
  line-height: 1.85em;
}
main h2 {
  font-size: 1.25em;
  text-align: center;
  margin: 0;
  border-bottom: 2px solid var(--color3);
}

/* makes images on the homepage into a grid: */
.homepage {
  display: flex;
  flex-wrap: wrap;
  /* note CSS spelling of ‘center’: */
  justify-content: center;
}
.homepage figure {
  width: 120px;
  margin: 12px 6px 6px;
}

/* images on individual artist's pages */
figure {
  border: 1px solid var(--color2);
  padding: 0;
  margin: 12px 0 0;
  border-radius: 12px;
  overflow: hidden;
  background-color: var(--color3);
}
figure img {
  display: block;
  width: 100%;
}
figcaption {
  text-align: center;
  /* sets padding top-bottom, right-left: */
  padding: 2px 6px;
  font-size: .75em;
}


/* STYLES "BREAKPOINT" FOR WIDTHS ABOVE 600 pixels: */
@media all and (min-width: 600px) {

  /* puts 'nav' (menu), 'main' (content) side-by-side: */
  .wrapper {
      flex-direction: row;
  }

  header h1 {
    font-size: 3em;
    letter-spacing: 6px;
  }
  /* hover only works above mobile sizes: */
  h1 a:hover {
    text-decoration: underline;
  }

  /* NAV - FILLS 25% OF WIDTH */
  nav {
    width: 25%;
    flex-direction: column;
    /* fills height of links on a single line: */
    line-height: 2.5em;
  }
  nav a:link,
  nav a:visited {
    text-decoration: none;
    text-align: left;
    padding-left: 12px;
    border-right: 0;
    border-bottom: 2px solid var(--color4);
    transition: background 0.75s;
  }
  nav a:hover {
    background: var(--color4);
    border-right: 2px solid var(--color2);
  }
  nav a.here:hover {
    border-right: none;
  }


  /* MAIN CONTENT BOX - FILLS REMAINING WIDTH */
  main {
    width: 75%;
        /* contains padding inside the 75% width: */
        box-sizing: border-box;
          /* sets minimum "view height" if not much content: */
          min-height: 72vh;
  }
  main h2 {
    text-align: left;
  }

  /* changes background and enlarges figure tag on hover: */
  .homepage figure {
    transition-property: scale, background;
    transition-duration: .5s;
  }
  .homepage figure:hover {
    scale: 105%;
    background: var(--color4);
  }

  /* images on individual artist's pages */
  figure {
    float: right;
    /* top, right, bottom, left */
    margin: 12px 0 0 10px;
  }

}
/* THE BRACKET ABOVE ENDS THE "BREAKPOINT"
 - DO NOT DELETE IT! */


/* ---------- UNCOMMENT BELOW TO SHOW BOXES ---------- */
/*
.wrapper,
header,
main,
nav,
footer {
  border: 2px solid red;
  box-sizing: border-box;
}
*/

/* -------- UNCOMMENT AND ADD HTML FOOTER TAG -------- */
/*
footer {
  clear: both;
  padding: 20px 30px;
  background-color: var(--color1);
}
*/
